.resultContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.nextButton,
.usersResultButton {
    position: absolute;
    z-index: 50;
}
.nextButton {
    right: 20px;
    bottom: 10px;
}
.usersResultButton {
    left: 20px;
    bottom: 10px;
}