.hostContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hostContainer__img {
    display: block;
}

.hostContainer .buttonContainer {
    margin-top: 100px;
}