// ================================
// media query mixin
// ================================
$breakpoint-sm: 400px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;

$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ================================
// Layout
// ================================
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  font-family: 'arial', 'Mplus 1p';
}
.core-layout__viewport {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.rawgit.com/NullPointerExceqtion/minakawa-wedding/image/public/img/img_bg_pc.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;

  @include mq(md) {
    background-image: url(https://cdn.rawgit.com/NullPointerExceqtion/minakawa-wedding/image/public/img/img_bg_sp.jpg);
  }
}
.transitionGroup {
  width: 100%;
  height: 100%;
}
.pageFade-enter, .pageFade-appear { opacity:0; }
.pageFade-enter.pageFade-enter-active,
.pageFade-appear.pageFade-appear-active { opacity:1; transition:opacity 1000ms; }
.pageFade-enter.pageFade-enter-active { transition-delay:1000ms; }
.pageFade-exit { opacity:1; }
.pageFade-exit.pageFade-exit-active { opacity:0; transition:opacity 1000ms; }

.guestFade-enter, .guestFade-appear { opacity:0; }
.guestFade-enter.guestFade-enter-active,
.guestFade-appear.guestFade-appear-active { opacity:1; transition:opacity 300ms; }
.guestFade-enter.guestFade-enter-active { transition-delay:300ms; }
.guestFade-exit { opacity:1; }
.guestFade-exit.guestFade-exit-active { opacity:0; transition:opacity 300ms; }


// ================================
// Common
// ================================

// 共通のRaisedButton
.buttonContainer {
  text-align: center;

  @include mq(md) {
    width: 100%;
    text-align: center;

    // material-ui style指定がmediaQueryに
    // 対応していないみたいなのでCSS側で無理やり上書きする
    &__btn {
      width: 90.625% !important;
    }
    button {
      height: 44px !important;
      line-height: 44px !important;
    }
    button > * {
      height: 44px !important;
    }
  }

}

// 左上のQuestion Number
.questionNumber {
  position: absolute;
  top: 2px;
  left: 20px;
  color: #FFFFFF;
  letter-spacing: -2.7px;
  font-size: 94px;
  transform: rotate(-16deg);
  font-weight: 900;
  z-index: 10;

  @include mq(md) {
    top: 5px;
    left: 15px;
    font-size: 56px;
  }
}

// 問題テキスト
.questionBox {
  position: absolute;
  margin: auto;
  top: 140px;
  left: 0;
  right: 0;
  width: 87%;

  &__tx {
    color: #fff;
    font-size: 48px;
    line-height: 60px;
    font-weight: bold;
  }

  &--large {
    .questionBox__tx {
      // font-size: 120px;
      // line-height: 136px;
      // text-align: center;
      font-size: 48px;
      line-height: 1.2;
    }

    .imageBox {
      &__item {
        width: 100%;
        // height: 416px;
        height: 350px;
      }

      &__wrapImage {
        margin: 0 auto;
        width: 100%;
      }

      & + .questionBox__tx {
        font-size: 48px;
        line-height: 1.2;
      }
    }
  }
}

// 問題画像
.imageBox {
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;

  .questionNumber {
    top: -44px;
    left: -22px;
  }

  &__wrapImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
    width: calc(50% - 12px);
    max-width: 500px;
    background: #D8D8D8;
    vertical-align: top;

    &::before {
      display: block;
      content: '';
      padding-top: 57.69%;
    }

    &:nth-child(odd) {
      margin-right: 24px;
    }

    &:last-child {
      background: transparent;
    }

    p {
      position: absolute;
      top: 0;
      text-align: left;
    }
  }
}

// override material-ui snackbar
.snackbar button {
  margin: 0 !important;
  float: inherit !important;
}